.table {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 5fr 1fr 1fr;
  text-align: center;
  margin: 0 5px 0 5px;
}

.th, .td {
  border: solid 1px;
}

.sort_btn {
  background: blue;
}

.edit_btn {
  background: green;
}

.delete_btn {
  background: red;
}