.form {
  position: absolute;
  top: calc(100% / 2);
  left: calc(100% / 2);
  translate: -50% -50%;
}

.title {
  font-size: 2rem;
}

.label {
  display: block;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3px;
}